/*!==============MOBILE============= */

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  /*?==============hero============= */

  .hero {
    background-color: var(--hero-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
}

/*!==============TABLET============= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*?==============header============= */

  .menu-open-btn {
    display: none;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--transition-dur-and-func);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--accent-color);
  }

  .header-nav-link.current {
    color: var(--accent-color);
  }

  .header-nav-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    transform: scaleX(0);
    transition: transform var(--transition-dur-and-func);

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after,
  .header-nav-link.current::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .header-contacts {
    display: inline-block;
    margin-left: auto;
    font-style: normal;
  }

  .header-contacts-list {
    display: block;
    align-items: center;
  }

  .header-contacts-item:first-child {
    margin-bottom: 12px;
  }

  .header-contacts-link {
    display: inline-block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color var(--transition-dur-and-func);
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: var(--accent-color);
  }

  /*?==============mobile menu============= */
  .mob-menu {
    display: none;
  }

  .menu-open-btn {
    display: none;
  }

  /*?==============hero============= */

  .hero {
    background-color: var(--hero-background-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  /*?==========section2 advantages ========= */

  .advantages-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }

  /*?==============section our team============= */

  .team > .container {
    max-width: 582px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /*?==============section customers============= */

  .customers > .container {
    max-width: 582px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  /*?==============footer============= */

  .footer > .container {
    max-width: 582px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
    align-items: baseline;
  }

  .footer-text-wrapper {
    display: block;
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-soc-text {
    text-align: left;
  }

  .footer-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .footer-form-title {
    text-align: left;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-btn {
    margin: 0;
  }

  /*?==============modal window============= */

  .modal {
    max-width: 408px;
  }

  /*?==============portfolio============= */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-btn-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;

    margin-bottom: 64px;
    justify-content: center;
  }

  .portfolio-cards-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-cards-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/*!==============DESKTOP============= */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /*?==============header============= */

  .header-contacts-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-contacts-item:first-child {
    margin: 0;
  }

  .header-contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /*?==============hero============= */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /*?==========section2 advantages ========= */

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;

    background-color: #f4f4fd;
    border-radius: 4px;
    border: none;
  }

  .advantages-icon {
    display: block;
  }

  .advantages-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2px;
  }

  .advantages-text {
    font-weight: 400;
  }

  /*?==========section3 our work ========= */

  .work {
    display: block;
    padding-bottom: 120px;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }

  .work-item {
    flex-basis: calc((100% -2 * 24px) / 3);
  }

  /*?==============section our team============= */

  .team > .container {
    max-width: 1185px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  /*?==============section customers============= */

  .customers > .container {
    max-width: 1158px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  /*?==============footer============= */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer > .container {
    max-width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-text-wrapper {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-soc-wrapper {
    margin-right: 80px;
  }

  /*?==============portfolio============= */

  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-btn-list {
    margin-bottom: 72px;
  }

  .portfolio-cards-list {
    row-gap: 48px;
  }

  .portfolio-cards-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
