@media screen and (min-width: 428px) {
  .container {
    max-width: 398px;
  }

  .advantages-wrapper {
    display: none;
  }

  .advantages-item {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1128px;
  }
}
